# Sample gitconfig
#

[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
        # signingkey = 9DBC1A5E273DB357
[commit]
        # gpgsign = true
[credential]
        helper = GIT_CREDENTIAL_HELPER
[hub]
        protocol = https
[alias]
        co = checkout
        promote = !$ZSH/bin/git-promote
        wtf = !$ZSH/bin/git-wtf
        rank-contributors = !$ZSH/bin/git-rank-contributors
        count = !git shortlog -sn
        sweep = !git branch --merged $([[ $1 != \"-f\" ]] \\\n&& git rev-parse master) | egrep -v \"(^\\*|^\\s*(master|develop)$)\" \\\n| xargs git branch -d
        pristine = !git reset --hard && git clean -dffx
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
        editor = vim
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
        default = simple
[advice]
        detachedHead = false
[pull]
        ff = only
[rebase]
        autosquash = true
[init]
        defaultBranch = master
[pager]
        diff = delta
        log = delta
        reflog = delta
        show = delta
[delta]
        # side-by-side = true
        plus-style = "syntax #024000"
        minus-style = "syntax #340001"
        syntax-theme = Monokai Extended
        navigate = true
[interactive]
        diffFilter = delta --color-only
[url "git@github.com:"]
        insteadof = https://github.com/
