atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

git/gitconfig.local.symlink

secrets.zsh
*-secrets*.zsh

config.symlink/htop/
config.symlink/kitty/kitty.app.icns
config.symlink/op/config
config.symlink/yarn/
